@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  padding: 10px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
}

.navbar-item a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}