@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  outline: 1px solid limegreen;
  
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar styles */
.navbar {
  background-color: #333;
  padding: 10px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
}

.navbar-item a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Welcome Section */
.welcome-section {
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px;
  
}

.welcome-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.welcome-section p {
  font-size: 1.2rem;
  color: #666;
}

.furniture-logo-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Carousel Section */
.carousel-section {
  position: relative;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  height: auto;
}

/* Key Products Section */
.key-products-section {
  padding: 50px 20px;
  background-color: #fff;
}

.key-products-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card h3 {
  margin: 15px 0;
  font-size: 1.2rem;
}

.product-card p {
  font-size: 1rem;
  color: #333;
}